*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
}

.Box1{
    height: 100vh;
    width: 100%;
    background-image: url(./girl-1990347.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    justify-content: flex-end;
    display: flex;
}

.nbar{
    width: 100%;
    margin: auto;
    height: 100px;
    padding: 0px 0;
    display: flex;
    align-items: center;
    justify-content:space-between; 
    color: #fff;
    margin-top: 0px;
}

.logo{
    width: 100px;
    cursor: pointer;
    margin:0 2px;
}

.nbar ul li{
    list-style: none;
    display:inline-block;
    margin: 0 15px;
}
.nbar ul li a{
    text-decoration:none;
    color: 5f5f5f;
    font-size: 15px;
}
.content{
    width: 100%;
    position:absolute;
    top: 40%;
    text-align: center;
}
.left-col{
    margin-left: 25%;
    margin-top: 2px;
}
.left-col h1{
    font-size: 90px;
    color: #fff;
    line-height: 90px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
}
.right-col{
    float: left;
    margin-right: 10%;
    margin-top: 10px;
    margin-left: 25%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    justify-content: space-between;
}
footer{
    width: 100vw;
    height: 40px;
    background-color: whitesmoke;
    text-align: center;
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
#nb{
    margin-left: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 40px;
 }
#nba{
    margin-left: 100px;
    padding: 10px;
    background-color: transparent;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 40px;
}

#nb:hover{
    background-color: palevioletred;
}

#nba:hover{
    background-color: palevioletred;
}